@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "DMSerifDisplay";
    src: url(fonts/DMSerifDisplay-Regular.ttf) format(truetype);
  }

  @font-face {
    font-family: "Inder";
    src: url(fonts/Inder-Regular.ttf) format(truetype);
  }

  :root {
    --background: 18 22 25;
    --primary: 201 194 159;
    --surface: 30 36 40;
    --secondary-surface: 44 51 55;
    --text: 240 237 227;
    --secondary-text: 166 162 140;
    --secondary: 147 124 82;
    --secondary-hover: 137 114 72;
    --secondary-active: 130 107 65;
    --on-secondary: 90 80 53;
    --on-secondary-hover: 85 75 48;
    --on-secondary-active: 80 70 43;
    --danger: 135 55 55;
    --warning: 219 216 0;
    --success: 0 145 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

#root {
  @apply h-dvh bg-background pt-14;
}

.custom-scroll::-webkit-scrollbar,
.custom-scroll-light::-webkit-scrollbar {
  border-radius: 999px;
  width: 8px;
  height: 8px;
  background: rgb(var(--surface) / 0.6);
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background: rgb(var(--background) / 0.6);
}

.custom-scroll-light::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background: rgb(var(--secondary-surface) / 0.6);
}

.custom-scroll-big::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: rgb(var(--surface));
}

.custom-scroll-big::-webkit-scrollbar-thumb {
  background: rgb(var(--primary) / 0.6);
  border-radius: 999px;
}

.notif-item:before {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  backdrop-filter: brightness(200%);
  animation: bar 3s forwards linear;
}

@keyframes bar {
  100% {
    width: 0%;
  }
}

.backdrop {
  opacity: 0;

  & > section {
    translate: 0 -20px;
    opacity: 1;
  }
}

.backdrop.active {
  opacity: 1;

  & > section {
    translate: 0 0;
    opacity: 1;
  }
}
